<ion-view view-title="Thump">
    <ion-content>
        <div class="list">
            <ion-toggle ng-repeat="attendee in parameters | orderBy:'lastname'"
                        ng-model="attendee.arrived"
                        ng-change="arrivedChange()">
                {{ attendee.lastname }}
                <!--{{ attendee.lastname }}-->
            </ion-toggle>
            <!--<div class="item item-divider">-->
                <!--Activity-->
            <!--</div>-->
            <!--<div class="item" ng-repeat="msg in activity">-->
                <!--{{ msg }}-->
            <!--</div>-->
        </div>
    </ion-content>
</ion-view>