<ion-view view-title="Settings">
    <ion-content>
        <form class="list" ng-show="showForm">
            <div class="item item-divider">
                Your requisites
            </div>
            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="firstName">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="lastName">
            </label>
            <div class="item item-divider">
                Message language
            </div>
            <ion-radio ng-repeat="shirtSize in shirtSizes"
                       ng-value="shirtSize.value"
                       ng-model="attendee.shirtSize">
                {{ shirtSize.text }}
            </ion-radio>
            <div class="item item-divider">
                Administrative
            </div>
            <ion-toggle ng-model="attendee.vegetarian">
                Debug mode
            </ion-toggle>
            <!--<div class="padding">-->
                <!--<button class="button button-block" ng-click="submit()">Checkin</button>-->
            <!--</div>-->
        </form>

        <!--<div ng-hide="showForm">-->
            <!--<pre ng-bind="attendee | json"></pre>-->
            <!--<a href="#/event/attendees">View attendees</a>-->
        <!--</div>-->
    </ion-content>
</ion-view>